.Navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.637);
}

.Navbar__left {
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.Navbar__right {
  flex: 0.3;
  display: flex;
  justify-content: space-evenly;
}

.Navbar__logo {
  text-decoration: none;
  font-size: 40px;
  color: white;
}

.Navbar__dashboard
{
  color: white;
  font-size: 40px;
}

.Navbar__dashboard:hover
{
  color: #989797;
}

.Navbar__group
{
  color: white;
  font-size: 40px;
}

.Navbar__group:hover
{
  color: #989797;
}
.Navbar__account
{
  color: white;
  font-size: 40px;
}

.Navbar__account:hover
{
  color: #989797;
}
.Navbar__notification
{
  color: bisque;
  font-size: 40px;
}

.Navbar__notification:hover
{
  color: #989797;
}