@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Login {
  background-color: #2b2b2b;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  padding-left: 40%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button,
input {
  border: none;
  outline: none;
}
.side {
  position: absolute;
  margin-left: 450px;
  top: 40%;
  width: max-content;
}

.vl {
  border-left: 6px solid rgb(224, 235, 224);
  height: 100vh;
}
#header {
  font-size: 50px;
  color: white;
  right: 40px;
}
.signup {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;

  margin-bottom: 40px;
}

h2 span {
  text-decoration: underline;
  cursor: pointer;
  color: #a4243b;
}

/*  Field */
.signup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.signup__field:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #1b1b1b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__field:hover:before {
  width: 100%;
}

/*  Input */
.signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 10px 2px 0;
  border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.signup_input:focus + .signup_label,
.signup_input:valid + .signup_label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}

/*  Button */
button {
  background: #a78282;
  color: white;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #bdabab;
}

select {
  padding: 10px;
}

.option {
  position: relative;
  float: right;
  margin-bottom: 10px;
}
